@font-face {
    font-family: 'Livvic';
    src: url('../fonts/Livvic-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Livvic';
    src: url('../fonts/Livvic-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Livvic';
    src: url('../fonts/Livvic-Bold.ttf');
    font-weight: 700;
}